body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

#logo {
    margin: 0;
    padding: 4em;
    text-align: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

nav li {
    display: inline-block;
}

nav a {
    padding: 1em 1.5em;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

nav a.call-to-action {
    color: white;
    background-color: orange;
    box-shadow: rgba(0,0,0,.2) 0 2px 1px;
}

nav a.call-to-action:hover {
    background-color: orange;
    top: -3px;
    position: relative;
}

nav a:hover {
    color: white;
    background-color: lightgrey;
}

#banner {
    height: 50vh;
    background-image: url("../images/banner_back_road.jpg");
    background-position: center;
    text-align: center;
    color: white;
    font-size: 2em;
}

#banner h1 {
    position: relative;
    top: 40%;
}

#banner p {
    position: relative;
    top: 35%;
}

main {
    font-size: 1.15em;
    line-height: 1.7em;
    color: #555;
    margin: auto;
    max-width: 70%;
}

main h1,
main h2,
main strong {
  color: #333;
}

footer {
    margin-top: 5em;
    background-color: rgba(209,209,209,0.28);
}

footer div.container {
    max-width: 40%;
    margin: auto;
}

footer ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5em;
    margin: 0;
    padding: 1em;
}

footer ul.colofon {
    flex-direction: row;
}

footer li {
    list-style-type: none;
}

footer a {
    color: black;
    text-decoration: none;
}

footer hr {
    border-top: 1px solid lightgrey;
    border-bottom: none;
    box-sizing: content-box;
}
